[submodule "lpvl"]
	path = libs/LPVL
	url = https://github.com/whs31/LPVL.git
[submodule "libs/Corrosion"]
	path = libs/Corrosion
	url = https://github.com/corrosion-rs/corrosion.git
[submodule "libs/Argparse"]
	path = libs/Argparse
	url = https://github.com/cofyc/argparse.git
[submodule "libs/CCL"]
	path = libs/CCL
	url = https://github.com/whs31/CCL.git
