# VS code and CLion cache
.vscode*
.idea*

build-*
build
cmake-build*

# Python cache and images
/!utilities/fsend/__pycache__
/!utilities/fsend/*.jpg
/!utilities/fsend/*.pyc
/!utilities/fsend/*.lock

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# C# section

/emulator/flight-emulator/quasar-flight-emulator/Library
/emulator/flight-emulator/quasar-flight-emulator/[Tt]emp
/emulator/flight-emulator/quasar-flight-emulator/[Oo]bj
/emulator/flight-emulator/quasar-flight-emulator/[Bb]uild
/emulator/flight-emulator/quasar-flight-emulator/[Bb]uilds
/emulator/flight-emulator/quasar-flight-emulator/[Ll]ogs
/emulator/flight-emulator/quasar-flight-emulator/[Uu]ser[Ss]ettings

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/emulator/flight-emulator/quasar-flight-emulator/[Mm]emoryCaptures

# Recordings can get excessive in size
/emulator/flight-emulator/quasar-flight-emulator/[Rr]ecordings

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/emulator/flight-emulator/quasar-flight-emulator/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/emulator/flight-emulator/quasar-flight-emulator/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/emulator/flight-emulator/quasar-flight-emulator/[Aa]ssets/[Ss]treamingAssets/aa.meta
/emulator/flight-emulator/quasar-flight-emulator/[Aa]ssets/[Ss]treamingAssets/aa/*
